body {
  background-color: black;
  color: white;
}

h1 {
  font-size: 3em;
  text-align: center;
  padding: 10px;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

div {
  width: 90%;
  margin: auto;
  margin-top: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 2.5em;
  grid-auto-rows: minmax(100px, auto);
}
div > section {
  font-size: 20px;
  padding: 40px;
  background-color: burlywood;
  color: black;
  inline-size: center;
}

img {
  margin-top: 15vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

footer {
  display: table;
  text-align: center;
  padding-top: 10vw;
  margin-left: auto;
  margin-right: auto;
}
