* {
  background-color: black;
}

h1 {
  font-size: 3em;
  text-align: center;
  background-color: rgb(145, 13, 13);
  padding: 10px;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

h2 {
  color: lightskyblue;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
}

ul {
  text-align: left;
  color: blue;
  font-family:'Courier New', Courier, monospace
}


ol { 
  text-align: left;
  color:cadetblue;
}

footer {
  text-align: right;
}

main {
  color: azure;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

img {
  margin-top: 125px;
  margin-bottom: 100px;
}
